<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="./static/mywebscript.js"></script>
    <div class="card">
    <div class="card-body">
        <div class="mb-3">
            <label class="form-label">Text to be translated</label>
            <input type="textarea" class="form-control" id="textToTranslate" name="textToTranslate">
        </div>
    
        <div style="padding: 25px 25px 25px 25px;">
            <button onclick="translateToFrench()" class="btn btn-secondary">Translate to French</button>        
            <button onclick="translateToEnglish()" class="btn btn-secondary">Translate to English</button>        
        </div>
    
        <div style="padding: 25px 25px 25px 25px;">
            <h3 id="translatedText"></h3>
        </div>
        </div>
  </div>
  <!-- <script>
    function englishToFrench() {
        // get the text to translate from the input field
        let textToTranslate = document.getElementById('textToTranslate').value;
    
        // send a GET request to the /englishToFrench endpoint
        fetch('/englishToFrench?english_text=' + encodeURIComponent(textToTranslate))
            .then(response => response.text())
            .then(translatedText => {
                // do something with the translated text
                document.getElementById('translatedText').innerText = translatedText;
            });
    }

    function frenchToEnglish() {
        // get the text to translate from the input field
        let textToTranslate = document.getElementById('textToTranslate').value;
    
        // send a GET request to the /englishToFrench endpoint
        fetch('/frenchToEnglish?french_text=' + encodeURIComponent(textToTranslate))
            .then(response => response.text())
            .then(translatedText => {
                document.getElementById('translatedText').innerText = translatedText;
            });
    }
    </script> -->
</html>